body {
        background-image: url("/assets/background_pic.jpg");
        background-color: #833d3d;
}

section {
        font-size: 20px;
        width: 50%;
}

label#label_fname {
        color:red;
        font-size: 40px;
}